body {
    background-color: rgb(120, 216, 117);
}

#container {
    width: 900px;
    height: 100%;
    margin: 50px auto;
    background-color: aquamarine;
}

.field {
    margin: 10px auto;
}

h1 {
    color: rgb(190, 19, 70);
}

h3 {
    color: rgb(69, 69, 175);
    margin: 20px 10px;
}

#productText {
    color: rgb(146, 58, 134);
}

#similarTable {
    color: brown;
}

#mainTable {
    color: rgb(230, 15, 219);
}