body {
    width: 100%;
    height: 100%;
    background-color: rgb(173, 142, 103);
}

h1 {
    font-size: 50px;
    color: blueviolet;
    text-align: center;
    text-shadow: rgb(177, 65, 65);
    margin: 10px auto;
}



table, td {
    border: 5px solid black;
    margin: 10px auto;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: rgb(17, 17, 231);
}

